.supercontenedor {
    background-color: lightgray;
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
}
.contenedor {
    background-color: green;
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    
}
.contenido {
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;

}