.game-board-container {
    max-width: 320px;
    margin: 0 auto;
}

.row-container {
    display: flex;
    justify-content: center;
}

.row-container > div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-left {
    border-left: 2px solid black;
}

.border-top {
    border-top: 2px solid black;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.border-right {
    border-right: 2px solid black;
}
