.header-nav {
    margin: 0;
    background-color: rgb(250, 183, 244);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.header-nav > ul {
    list-style: none;
    display: flex;

    align-items: center;
    margin: 0;
}

.header-ul > li {
    margin: 5px;
}
