.fomularios {
    background-color: lightgray;
    padding: 20px;
    font: Helvetica;

}
.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    border: solid 2px rgb(0, 0, 0);
    background: rgb(182, 232, 146);
    border-radius: 6px;
}
.button {
    background-color: rgb(202, 202, 245);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px; 
}
.footer{
    text-align: center;
}
.comentario_largo {
    box-sizing: border-box;
    padding: 0.5em;
    border: solid 2px rgb(0, 0, 0);
    background: rgb(7, 111, 116);
    color: white;
    border-radius: 6px;
}